<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="admin/">Ресторан</a></li>
                <li>
                    <ul>
                        <li><a href="{% url 'index' %}">Ресторане</a></li>
                        <li><a href="{% url 'menu:menu' %}">Меню</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>